$boxSize: 50px;

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  max-width: calc(#{$boxSize} * 10);
  max-height: calc(#{$boxSize} * 10);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

  .box {
    width: $boxSize;
    height: $boxSize;
    background-color: lightgray;
    border: 1px solid darkgray;
    display: flex;
    align-items: center;
    justify-content: center;

    &.initial {
      border: 5px gray outset;
      cursor: pointer;
    }

    &.bomb-count-1 {
      color: blue;
    }

    &.bomb-count-2 {
      color: green;
    }

    &.bomb-count-3 {
      color: red;
    }

    &.bomb-count-4 {
      color: darkblue;
    }

    &.bomb-count-5 {
      color: brown;
    }

    &.bomb-count-6 {
      color: turquoise;
    }

    &.bomb-count-7 {
      color: black;
    }

    &.bomb-count-8 {
      color: white;
    }
  }
}
#btn{
  display: block;
  border: none;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: #b6b3b3;
}
#btn:hover{
  background-color: #d7d5d5;
  transition: color .3s linear;
}
